<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="views/shared/_layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <h1>Learn 페이지 들어오는 곳</h1>
        </div>
    </div>
</body>
</html>
