<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Footer -->
<footer class="py-5 bg-dark mt-auto" th:fragment="footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; JavaCampus 2022 All rights reserved.</p>
    </div>
    <div class="container">
        <p class="m-0 text-center text-white">
            <a href="https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/">
                Spring Boot Reference Documentation
            </a>
        </p>
    </div>
    <div class="container">
        <p class="m-0 text-center text-white">
            <a href="https://startbootstrap.com/" class="text-white small">
                Bootstrap Template by Start Bootstrap
            </a>
        </p>
    </div>
    <!-- /.container -->
</footer>
</html>
